{% extends "home/base_home.html" %}

{% block content_list %}
    {% for f in follow.list %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                <div class="col-md-8">
                    <h3 class="panel-title">关注了：&emsp;{{ f.followb.username }}</h3>
                </div>
                <div class="col-md-4 text-right text-muted">
                    {{ f.addtime }}
                </div>
                </div>
            </div>
            <div class="panel-body">
            </div>
        </div>
    {% endfor %}
{% endblock %}