<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    {% block head %}
        <title>Primitive Title</title>
    {% endblock %}
</head>
<body background="/static/img/bg.jpg" style="background-size: cover;">
{% block body %}
    <h1>helloworld</h1>
{% endblock %}
</body>
</html>