{% extends "home/base_home.html" %}

{% block content_list %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">最新</h3>
        </div>
        <div class="panel-body">
            {% for f in this_user.fav_msg.list.unread %}
                <div class="row">
                    <div class="col-md-8">
                        <h4 class="text-primary">{{ f.author.username }}&emsp;收藏了您的提问</h4>
                    </div>
                    <div class="col-md-4 text-right text-muted">
                        {{ f.addtime }}
                    </div>
                </div>
                <div class="col-md-10 col-md-push-1">
                    <strong>原问题题目：{{ f.question.title }}</strong><br>
                    <p style="padding-left: 2em">{{ f.question.description }}</p>
                    <hr>
                </div>

            {% endfor %}
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">全部</h3>
        </div>
        <div class="panel-body">
            {% for f in this_user.fav_msg.list.read %}
                <div class="row">
                    <div class="col-md-8">
                        <h4 class="text-primary">{{ f.author.username }}&emsp;收藏了您的提问</h4>
                    </div>
                    <div class="col-md-4 text-right text-muted">
                        {{ f.addtime }}
                    </div>
                </div>
                <div class="col-md-10 col-md-push-1">
                    <strong>原问题题目：{{ f.question.title }}</strong><br>
                    <p style="padding-left: 2em">{{ f.question.description }}</p>
                    <hr>
                </div>

            {% endfor %}
        </div>
    </div>



{% endblock %}